<!-- <!doctype html>
<head>
  <link href="<%= url('style.css') %>" rel="stylesheet" type="text/css" />
</head> -->

<h1> All Spaces </h1>
<h2> <% @spaces.each do |space| %>
<%= space %>
<% end %>
</h2>
