<div>
  <h2> Sign up </h2>
  <form action="/user/new" method="post">
    <input type="text" name="name" placeholder="Name">
    <input type="text" name="username" placeholder="Enter your username">
    <input type="text" name="email" placeholder="Enter your email">
    <input type="text" name="password" placeholder="Enter your password">
    <input type="submit" value="Submit">
  </form>
</div>
